<div class="row clearfix">
	<div class="well row">
		<div class="col-xs-12 text-center">
			<strong>Header ID:</strong><label>{{headerID}}</label><br>
			<strong>Company:</strong><label>{{Company}}</label><br>
			<strong>Close Date:</strong><label>{{closeDate}}</label><br>
			<strong>Created By:</strong><label>{{createdBy}}</label><br>
			<strong>Emails:</strong><label>{{emails}}</label><br>
			<strong>Open Date:</strong><label>{{openDate}}</label><br>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div ng-show="!showQuestions" class="jumbotron row">
		<div class="col-md-offset-3 col-md-6">
			<form class="text-center" role="search">
				<div class="form-group">
					<input ng-enter="checkUserEmail()" ng-model="userEmail" type="text" class="form-control" placeholder="Place email & press Enter"/>
				</div>
				<div class="form-group">
					<button ng-if="loadingUserInfo" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
				</div>						
				<div ng-show="false" class="form-group">
					<input ng-model="userName" type="text" class="form-control" placeholder="Place name & press Enter"/>
				</div> 
				<div ng-show="false" class="form-group">
					<input ng-model="userCompany" type="text" class="form-control" placeholder="Place company & press Enter"/>
				</div> 
				<div ng-show="doSurvey" class="form-group">
					<button ng-click="processSurvey()" class="btn btn-default">{{userStatus}}</button>
				</div>
			</form>
		</div>
	</div>
	
	<div ng-show="showQuestions" class="row hans-question-container">		
		<ul ng-repeat="qs in questions">
			<li class="list-group-item list-group-item-success">
				<strong>{{$index + 1}}</strong>.
				<strong class="example-chat-username">{{ qs.subject }}</strong>
				<span>{{ qs.titleNL }}</span>
			</li>
			<li>
				<ul ng-repeat="answer in qs.answers">
					<li class="row list-group-item">
						<div class="col-xs-8">
							<a class="">
								<strong>{{$index + 1}}</strong>.
								<label>{{answer.titleNL}}</label>
							</a>
						</div>
						<div class="col-xs-4">
							<div class="form-inline">
								<label class="radio">
									<input type="radio" name="{{ answer.titleNL }}" value="0" question-id="{{ qs.ID }}" ng-checked="userSelection[qs.ID][answer.id] === 0 || true" ng-click="saveAnswer(qs.ID, answer.id, 0)">0
								</label>
								<label class="radio">
									<input type="radio" name="{{ answer.titleNL }}" value="1" question-id="{{ qs.ID }}" ng-checked="userSelection[qs.ID][answer.id] === 1" ng-click="saveAnswer(qs.ID, answer.id, 1)">1
								</label>
								<label class="radio">
									<input type="radio" name="{{ answer.titleNL }}" value="2" question-id="{{ qs.ID }}" ng-checked="userSelection[qs.ID][answer.id] === 2" ng-click="saveAnswer(qs.ID, answer.id, 2)">2
								</label>
								<label class="radio">
									<input type="radio" name="{{ answer.titleNL }}" value="3" question-id="{{ qs.ID }}" ng-checked="userSelection[qs.ID][answer.id] === 3" ng-click="saveAnswer(qs.ID, answer.id, 3)">3
								</label>
							</div>
						</div>						
					</li>			
				</ul>
			</li>
			<div ng-show="errorID === qs.ID">
				<p style="color: red">Can't give more than 3 points to a question</p>
			</div>
		</ul>		
	</div>
</div>