<div class="row">
	<h1>Company View</h1>
</div>
<div class="row clearfix">
	<div class="panel panel-default" ng-repeat="group in headersArray">
		<div class="panel-heading">
		  <h4 class="panel-title">
			<a href="#" ng-click="isCollapsed = !isCollapsed">
				{{group.company}}
			</a>
		  </h4>
		</div>
		<div collapse="isCollapsed">
			<div class="panel-body">
				<table class="table" ng-repeat="header in group.group">
					<thead>
					  <tr>
						<th>Kind</th>
						<th>Contact Person Customer</th>
						<th>Team name</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th># Inprogress</th>
						<th># Complete</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td></td>						
						<td>{{header.emails}}</td>						
						<td></td>						
						<td>{{header.closeDate}}</td>						
						<td>{{header.openDate}}</td>						
						<td></td>						
					  </tr>					  
					</tbody>
				  </table>
			</div>
		</div>
	</div>
</div>
